<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EndX</key>
	<integer>2500</integer>
	<key>Stars</key>
	<dict>
		<key>Positions</key>
		<array>
			<dict>
				<key>x</key>
				<integer>625</integer>
				<key>y</key>
				<integer>50</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>1250</integer>
				<key>y</key>
				<integer>50</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>1875</integer>
				<key>y</key>
				<integer>50</integer>
			</dict>
		</array>
	</dict>
	<key>Rocks</key>
	<dict>
		<key>Positions</key>
		<array>
			<dict>
				<key>x</key>
				<integer>417</integer>
				<key>y</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>834</integer>
				<key>y</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>1667</integer>
				<key>y</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>2084</integer>
				<key>y</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<key>RocksDown</key>
	<dict>
		<key>Positions</key>
		<array>
			<dict>
				<key>x</key>
				<integer>625</integer>
				<key>y</key>
				<integer>375</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>1250</integer>
				<key>y</key>
				<integer>375</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>1875</integer>
				<key>y</key>
				<integer>375</integer>
			</dict>
		</array>
	</dict>
</dict>
</plist>
