<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EndX</key>
	<real>10000</real>
	<key>Stars</key>
	<dict>
		<key>Positions</key>
		<array>
			<dict>
				<key>x</key>
				<integer>2500</integer>
				<key>y</key>
				<integer>50</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>5000</integer>
				<key>y</key>
				<integer>50</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>7500</integer>
				<key>y</key>
				<integer>50</integer>
			</dict>
		</array>
	</dict>
	<key>Rocks</key>
	<dict>
		<key>Positions</key>
		<array>
			<dict>
				<key>x</key>
				<integer>1667</integer>
				<key>y</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>3334</integer>
				<key>y</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>6667</integer>
				<key>y</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>8334</integer>
				<key>y</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<key>RocksDown</key>
	<dict>
		<key>Positions</key>
		<array>
			<dict>
				<key>x</key>
				<integer>2500</integer>
				<key>y</key>
				<integer>375</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>5000</integer>
				<key>y</key>
				<integer>375</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>7500</integer>
				<key>y</key>
				<integer>375</integer>
			</dict>
		</array>
	</dict>
</dict>
</plist>
